@use postcss-color-function;
@use postcss-nested;

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3b5a99;
  font-family: 'Raleway', sans-serif;
}
